.item__card {
  text-decoration: "none";
  color: "inherit";

  &--img {
    width: 100%;
  }

  &--texts {
    padding: 0.5em;
    color: white;
    background-color: rgb(3, 173, 159);
  }
  &--title {
    font-size: 1em;
    padding-bottom: 0.5em;
  }

  @media all and (min-width: 321px) {
    font-size: 1.5vw;
  }
}
