.section__filter {
  width: 50%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  &__input {
    background-color: black;
    text-align: center;
    width: 80%;
    color: rgb(74, 197, 228);
    font-weight: bold;
    font-family: Get-Schwifty;
    font-size: 4vw;
    &::placeholder {
      color: rgb(2, 240, 42);
    }
  }
}
